<div class="main">
  <div class="logo">
    <a class="logo-img">
      <img src="" class="logo-img" alt="logo_img" />
    </a>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="container">
      <div class="wave-group">
        <input type="text" class="input" formControlName="username" required />
        <span class="bar"></span>
        <label class="label">
          <span class="label-char" *ngFor="let char of 'Usuario'.split(''); let i = index" [style.--index]="i">
            {{ char }}
          </span>
        </label>
      </div>
    </div>

    <div class="container">
      <div class="wave-group">
        <input type="password" class="input" formControlName="password" required />
        <span class="bar"></span>
        <label class="label">
          <span class="label-char" *ngFor="let char of 'Contraseña'.split(''); let i = index" [style.--index]="i">
            {{ char }}
          </span>
        </label>
      </div>
    </div>

  <div class="container" *ngIf="showMessage">
    <div class="message-box error" style="position: relative; transform: none; padding: 1rem; font-size: 0.95rem;">
      <p>{{ messageText }}</p>
    </div>
  </div>

    <div class="container">
        <button class="animated-button" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
    <path
      d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
    ></path>
  </svg>
  <span class="text">Ingresar</span>
  <span class="circle"></span>
  <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
    <path
      d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
    ></path>
  </svg>
      </button>
    </div>
  </form>

</div>
