<div class="view-header">
  <h1>Formatos Vacíos</h1>
  <p>Descarga los formatos en blanco para llenado manual.</p>
</div>

<div class="list-container">
  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong> MIA04-SISFR001-FORMATO DE RESGUARDO DE EQUIPO DE COMPUTO</div>
        <div><strong>Descripción: </strong> Documento para entrega de equipo de usuario.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR001-FORMATO DE RESGUARDO DE EQUIPO DE COMPUTO.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong> MIA04-SISFR003-FORMATO DE RESPALDO DE INFORMACION</div>
        <div><strong>Descripción: </strong> Documento de respaldo de informacion</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR003-FORMATO DE RESPALDO DE INFORMACION.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA04-SISFR004-FORMATO SOLICITUD CLAVE DE ACCESO A LOS SITEMAS INFORMATICOS</div>
        <div><strong>Descripción: </strong> Formato de asignacion de usuario a sistema SISSCOS o sistemas CCTV.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR004-FORMATO SOLICITUD CLAVE DE ACCESO A LOS SITEMAS INFORMATICOS.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong> MIA04-SISFR005-FORMATO ASIGNACION DE USUARIOS SISSCOS</div>
        <div><strong>Descripción: </strong> Formato SISSCOS para solicitar la asignacion de usuario.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR005-FORMATO ASIGNACION DE USUARIOS SISSCOS.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA04-SISFR006 -FORMATO SOLICITUD DE VIDEOGRABACIONES</div>
        <div><strong>Descripción: </strong>Solicitud para revisar sistemas de CCTV</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR006 -FORMATO SOLICITUD DE VIDEOGRABACIONES.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA04-SISFR007-FORMATO DE ENTRADA DE EQUIPO YO CONSUMIBLE</div>
        <div><strong>Descripción: </strong>Formato de entrada de equipo.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR007-FORMATO DE ENTRADA DE EQUIPO YO CONSUMIBLE.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA04-SISFR007-FORMATO DE ENTRADA DE EQUIPO YO CONSUMIBLE</div>
        <div><strong>Descripción: </strong>Formato de entrada de equipo.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR007-FORMATO DE ENTRADA DE EQUIPO YO CONSUMIBLE.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA04-SISFR009-FORMATO ASIGNACION DE USUARIOS EXPEDIENTE ELECTRÓNICO</div>
        <div><strong>Descripción: </strong>Formato para registro de un usuario a EXPEDIENTE ELECTTRONICO.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR009-FORMATO ASIGNACION DE USUARIOS EXPEDIENTE ELECTRÓNICO.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA04-SISFR010-FORMATO DE MANTENIMIENTO DE EQUIPO DE COMPUTO</div>
        <div><strong>Descripción: </strong>Formato para registrar el mantenimiento de un equipo de computo.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR010-FORMATO DE MANTENIMIENTO DE EQUIPO DE COMPUTO.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA04-SISFR011-FORMATO DE BAJA DE EQUIPO</div>
        <div><strong>Descripción: </strong>Formato para dar de baja un equipo.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR011-FORMATO DE BAJA DE EQUIPO.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA04-SISFR012 FORMATO EVALUACION DE PROVEEDORES SISTEMAS</div>
        <div><strong>Descripción: </strong>Formato de evaluacion de proveedores.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR012 FORMATO EVALUACION DE PROVEEDORES SISTEMAS.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA04-SISFR0013-FORMATO DE RECOLECCION DE EQUIPO DE COMPUTO DAÑADO</div>
        <div><strong>Descripción: </strong>Formato de equipo de computo dañado</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR0013-FORMATO DE RECOLECCION DE EQUIPO DE COMPUTO DAÑADO.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA14-SISFR014-FORMATO DE RESPALDO POR FORMATEO</div>
        <div><strong>Descripción: </strong>Formato de generacion de respaldo de informacion por formateo</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA14-SISFR014-FORMATO DE RESPALDO POR FORMATEO.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA15-SISFR015-FORMATO DE RESPALDO</div>
        <div><strong>Descripción: </strong>Formato de generacion de respaldo de informacion.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA15-SISFR015-FORMATO DE RESPALDO.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA16-SISFR016-FORMATO DE CHECKLIST DE HABITACIONES</div>
        <div><strong>Descripción: </strong>Formato de calidad de habitaciones.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA16-SISFR016-FORMATO DE CHECKLIST DE HABITACIONES.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA04-SISFR017- FORMATO DE SERVICIO TECNICO</div>
        <div><strong>Descripción: </strong>Formato de servicio tecnico a equipo electronico no biomedico.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-SISFR017- FORMATO DE SERVICIO TECNICO.docx')">Descargar</button>
      </div>
    </div>
  </div>

  <div class="item-card">
    <div class="card-row">
      <div class="card-info">
        <div><strong>Nombre: </strong>MIA04-COMFR001-FORMATO DE SOL. MOBILIARIO,EQUIPO Y PROD.</div>
        <div><strong>Descripción: </strong>Formato para solicitud de compra de equipo o moviliario con compras.</div>
      </div>
      <div class="card-actions">
        <button class="btn-green" (click)="descargarFormato('MIA04-COMFR001-FORMATO DE SOL MOBILIARIO,EQUIPO Y PROD.docx')">Descargar</button>
      </div>
    </div>
  </div>

</div>
